$remoteHeight: 56;
$yellowColor: #f4e700;

.the-dog {
    section {
        padding: 0 to_vw(12);

        &.intro {
            height: 100vh;
        }

        &.statement {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100vh;

            .title {
                margin-bottom: to_vw(36);
                font-size: to_vw(56);
                font-weight: 800;
            }

            p {
                margin-bottom: to_vw(12);
                font-size: to_vw(20);
                font-weight: 300;
                line-height: 1.2;
                opacity: 0.6;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &.slogan {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            height: 100vh;
            background-color: #fff;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(250, 250, 250, 0.8);
            }

            .circle {
                //overflow: hidden;
                position: relative;
                width: to_vw(560);
                height: to_vw(560);
                clip-path: circle(50%);
                -webkit-mask-image: -webkit-radial-gradient(white, black);
                mask-image: -webkit-radial-gradient(white, black);
            }

            .bg_wrapper {
                position: relative;
                width: 100%;
                height: 100%;
                z-index: 1;

                .bg {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: url("/resources/images/puppy_03.jpg") no-repeat center center;
                    background-size: cover;
                }
            }

            .mask {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                width: 100%;
                height: 100%;
                background: url("/resources/images/circle.svg") no-repeat center center;
                background-color: transparent;
                background-size: cover;
                opacity: 0.8;
                transform-origin: 50% 50%;
                animation: rotateToRight 28s linear infinite;
            }

            .line_wrapper {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 2;
                width: 100%;
                height: 100%;
                padding: to_vw(90);
                animation: rotateToLeft 10s linear infinite;
                //transform-origin: 50% 50%;

                .line {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 75%;
                    height: 75%;
                    border-radius: 50%;
                    border: to_vw(3) dotted $mainColor;

                    &::after {
                        content: '';
                        position: absolute;
                        top: 12.5%;
                        right: 12.5%;
                        width: to_vw(18);
                        height: to_vw(18);
                        border-radius: 50%;
                        background-color: $yellowColor;
                    }
                }
            }

            .slogan_zone {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 2;

                .txt {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    span {
                        font-size: to_vw(72);
                        font-weight: 900;
                    }
                }
            }
        }

        &.donation {
            width: 80%;
            margin-left: auto;
            margin-bottom: to_vw(160);
            text-align: right;

            h3 {
                margin-bottom: to_vw(36);
                font-size: to_vw(56);
                font-weight: 800;
                line-height: 1.2;
            }

            p {
                margin-bottom: to_vw(12);
                font-size: to_vw(20);
                font-weight: 300;
                line-height: 1.2;
                opacity: 0.6;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &.product {
            overflow: hidden;
            height: 100vh;
            padding: 0;

            .inner {
                position: relative;
                width: 100%;
                height: 100%;
                //height: calc(100% - to_vw($remoteHeight));
            }

            .circle {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: to_vw(400);
                height: to_vw(400);
                background: linear-gradient(-180deg, rgba(244, 231, 0, 1) 0%, rgba(250, 250, 250, 1) 100%);
                border-radius: 50%;

                &::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 1;
                    width: 110%;
                    height: 110%;
                }
            }

            .remote {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: to_vw(24);
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                z-index: 2;
                width: 100%;
                height: to_vw($remoteHeight);
                background-color: transparent;

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    border-top: to_vw(3) dotted $mainColor;
                    opacity: 0.2;
                    transition: opacity 0.5s;
                }

                li {
                    &.active {
                        a {
                            color: $yellowColor;

                            &::after {
                                background-color: $yellowColor;
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }

                    &:hover:not(&.active) {
                        a {
                            &::after {
                                background-color: $mainColor;
                                opacity: 1;
                                visibility: visible;

                            }
                        }
                    }
                }

                a {
                    display: block;
                    position: relative;
                    font-weight: 700;
                    transition: opacity 0.5s, color 0.5s;

                    &::after {
                        content: '';
                        position: absolute;
                        top: -70%;
                        left: to_vw(-8);
                        width: to_vw(8);
                        height: to_vw(8);
                        border-radius: to_vw(4);
                        background-color: $mainColor;
                        transition: inherit;
                        opacity: 0;
                        visibility: hidden;
                    }
                }
            }

            .content_wrapper {
                overflow: hidden;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                width: 100%;
                height: 100%;
            }

            .content {
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                &.active {
                    top: 0;
                    z-index: 1;

                    &:nth-child(1) {
                        .bg {
                            top: 0;
                            left: 0;
                            transform: scale(1);

                            img {
                                opacity: 0.5;
                            }
                        }
                    }


                }

                > * {
                    width: 33.333%;
                    height: 100%;
                }

                .bg {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0;
                    height: 0;
                    z-index: -1;
                    opacity: 0.5;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                &:nth-child(1) {
                    .bg {
                        top: 33%;
                        left: 33%;
                        width: 100%;
                        height: 100%;
                        transform-origin: top left;
                        background: url("/resources/images/bg_star_04.png") no-repeat fixed;
                    }

                    .object {
                        transform: scale(1);
                    }
                }

                &:nth-child(2) {
                    .bg {
                        top: 33%;
                        right: 33%;
                        transform-origin: top right;
                        background: url("/resources/images/bg_star_03.png") no-repeat fixed;
                    }
                }

                &:nth-child(3) {
                    .bg {
                        bottom: 33%;
                        left: 33%;
                        transform-origin: bottom left;
                        background: url("/resources/images/bg_star_01.png") no-repeat fixed;
                    }
                }

                &:nth-child(4) {
                    .bg {
                        bottom: 33%;
                        right: 33%;
                        transform-origin: bottom right;
                        background: url("/resources/images/bg_star_02.png") no-repeat fixed;
                    }
                }

                .object {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    transform-origin: center center;
                    transform: scale(0);
                    backface-visibility: hidden;
                    will-change: transform;

                    img {
                        width: to_vw(296);
                        height: auto;
                    }
                }

                .info {
                    padding-left: to_vw(12);

                    h4 {
                        margin-bottom: to_vw(24);
                        font-size: to_vw(72);
                        font-weight: 100;
                        line-height: 1.2;
                    }
                }

                .desc {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    ul {
                        width: 70%;

                        li {
                            position: relative;
                            margin-bottom: to_vw(12);
                            padding-left: to_vw(12);
                            font-size: to_vw(12);
                            font-weight: 300;
                            line-height: 1.2;

                            &::before {
                                content: '';
                                position: absolute;
                                left: 0;
                                top: to_vw(5);
                                width: to_vw(4);
                                height: to_vw(4);
                                background-color: $mainColor;
                                border-radius: to_vw(2);
                                opacity: 0.2;
                            }
                        }
                    }

                    dl {
                        width: 70%;

                        dt {
                            margin-bottom: to_vw(24);
                            font-size: to_vw(14);
                            font-weight: 500;
                        }

                        dd {
                            img {
                                width: to_vw(48);
                                height: auto;
                            }

                            p {
                                margin-top: to_vw(8);
                                margin-bottom: to_vw(12);
                                font-size: to_vw(12);
                                font-weight: 300;
                                line-height: 1.2;
                            }

                            span {
                                width: 100%;
                            }
                        }
                    }

                    > p {
                        width: 70%;
                        margin-bottom: to_vw(12);
                        font-size: to_vw(12);
                        font-weight: 300;
                        line-height: 1.2;
                    }

                    span {
                        display: block;
                        width: 70%;
                        margin-bottom: to_vw(4);
                        font-size: to_vw(10);
                        line-height: 1.2;
                        color: $redColor;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}

@keyframes rotateToRight {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotateToLeft {
    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}