/* Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=red-hat-display@300,400,500,600,700,800,900&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=array@401,400,600,601,700,701&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* XEICON */
@import "https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css";

/* Swiper */
@import url("https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.css");

@import "./reset";
@import "./mixin";
@import "./common";

/* Layout */
@import "./layout/banner";
@import "./layout/header";
@import "./layout/footer";

/* Archive */
@import "pages/archive/gsap/sticky-navi";
@import "pages/archive/gsap/tab-dog";

@import "pages/archive/prototype/folding";

@import "pages/archive/slider/type-01";
