/* Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=red-hat-display@300,400,500,600,700,800,900&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=array@401,400,600,601,700,701&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* XEICON */
@import url("https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");
/* Swiper */
@import url("https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

/* swiper Reset */
.swiper-pagination-bullet {
  width: auto;
  height: auto;
  margin: 0 !important;
  border-radius: 0;
  background-color: transparent;
}

.swiper-pagination-bullet-active {
  background-color: transparent;
}

/* PIXEL TO VW */
/* background */
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
  color: #0A0A0A;
}

body {
  background-color: #FAFAFA;
}

.archive .intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.archive .intro h2 {
  font-size: max(97.68px, 9.6354166667vw);
  font-weight: 900;
}
.archive .intro h2 + p {
  text-align: right;
  margin-top: max(31.68px, 3.125vw);
  margin-bottom: max(15.84px, 1.5625vw);
}

/* Layout */
.rolling_banner {
  overflow-x: hidden;
  position: absolute;
  left: 0;
  bottom: max(13.2px, 1.3020833333vw);
  display: flex;
  width: 100%;
}
.rolling_banner .original {
  animation: infiniteRolling01 100s linear infinite;
}
.rolling_banner .cloned {
  animation: infiniteRolling02 100s linear infinite;
}

@keyframes infiniteRolling01 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  50.01% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes infiniteRolling02 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}
.knitting_wrap {
  display: flex;
}

.knitting {
  width: fit-content;
  border: 4px solid #0A0A0A;
  border-right: 2px solid #0A0A0A;
}
.knitting:last-child {
  border-right: max(2.64px, 0.2604166667vw) solid #0A0A0A;
}
.knitting .row {
  display: flex;
}
.knitting .row.whole_white > div {
  background: #FAFAFA;
  border: 0.5px solid #0A0A0A;
}
.knitting .row.whole_black > div {
  background: #0A0A0A;
  border: 0.5px solid #FAFAFA;
}
.knitting .row > div {
  width: 2px;
  height: 2px;
  border: 0.5px solid #0A0A0A;
}
.knitting .row > div.white {
  background-color: #FAFAFA;
  border: 0.5px solid #0A0A0A;
}
.knitting .row > div.black {
  background-color: #0A0A0A;
  border: 0.5px solid #FAFAFA;
}

/* Archive */
.tab-dog section {
  padding: 0 12px;
}
.tab-dog section.intro {
  height: 100vh;
}
.tab-dog section.intro p {
  font-size: max(7.92px, 0.78125vw);
  font-weight: 500;
  line-height: 1.2;
  opacity: 0.5;
}
.tab-dog section.intro a {
  font-size: max(6.6px, 0.6510416667vw);
  font-weight: 300;
  text-decoration: underline;
}
.tab-dog section.statement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
.tab-dog section.statement .title {
  margin-bottom: max(23.76px, 2.34375vw);
  font-size: max(36.96px, 3.6458333333vw);
  font-weight: 800;
}
.tab-dog section.statement p {
  margin-bottom: max(7.92px, 0.78125vw);
  font-size: max(13.2px, 1.3020833333vw);
  font-weight: 300;
  line-height: 1.2;
  opacity: 0.6;
}
.tab-dog section.statement p:last-child {
  margin-bottom: 0;
}
.tab-dog section.slogan {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  background-color: #fff;
}
.tab-dog section.slogan::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(250, 250, 250, 0.8);
}
.tab-dog section.slogan .circle {
  position: relative;
  width: max(369.6px, 36.4583333333vw);
  height: max(369.6px, 36.4583333333vw);
  clip-path: circle(50%);
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  mask-image: -webkit-radial-gradient(white, black);
}
.tab-dog section.slogan .bg_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.tab-dog section.slogan .bg_wrapper .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/resources/images/puppy_03.jpg") no-repeat center center;
  background-size: cover;
}
.tab-dog section.slogan .mask {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: url("/resources/images/circle.svg") no-repeat center center;
  background-color: transparent;
  background-size: cover;
  opacity: 0.8;
  transform-origin: 50% 50%;
  animation: rotateToRight 28s linear infinite;
}
.tab-dog section.slogan .line_wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: max(59.4px, 5.859375vw);
  animation: rotateToLeft 10s linear infinite;
}
.tab-dog section.slogan .line_wrapper .line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 75%;
  border-radius: 50%;
  border: max(1.98px, 0.1953125vw) dotted #0A0A0A;
}
.tab-dog section.slogan .line_wrapper .line::after {
  content: "";
  position: absolute;
  top: 12.5%;
  right: 12.5%;
  width: max(11.88px, 1.171875vw);
  height: max(11.88px, 1.171875vw);
  border-radius: 50%;
  background-color: #f4e700;
}
.tab-dog section.slogan .slogan_zone {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.tab-dog section.slogan .slogan_zone .txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tab-dog section.slogan .slogan_zone .txt span {
  font-size: max(47.52px, 4.6875vw);
  font-weight: 900;
}
.tab-dog section.donation {
  width: 80%;
  margin-left: auto;
  margin-bottom: max(105.6px, 10.4166666667vw);
  text-align: right;
}
.tab-dog section.donation h3 {
  margin-bottom: max(23.76px, 2.34375vw);
  font-size: max(36.96px, 3.6458333333vw);
  font-weight: 800;
  line-height: 1.2;
}
.tab-dog section.donation p {
  margin-bottom: max(7.92px, 0.78125vw);
  font-size: max(13.2px, 1.3020833333vw);
  font-weight: 300;
  line-height: 1.2;
  opacity: 0.6;
}
.tab-dog section.donation p:last-child {
  margin-bottom: 0;
}
.tab-dog section.product {
  overflow: hidden;
  height: 100vh;
  padding: 0;
}
.tab-dog section.product .inner {
  position: relative;
  width: 100%;
  height: calc(100% - max(36.96px, 3.6458333333vw));
}
.tab-dog section.product .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max(264px, 26.0416666667vw);
  height: max(264px, 26.0416666667vw);
  background: linear-gradient(-180deg, rgb(244, 231, 0) 0%, rgb(250, 250, 250) 100%);
  border-radius: 50%;
}
.tab-dog section.product .circle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 110%;
  height: 110%;
}
.tab-dog section.product .remote {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: max(15.84px, 1.5625vw);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 100%;
  height: max(36.96px, 3.6458333333vw);
}
.tab-dog section.product .remote::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-top: max(1.98px, 0.1953125vw) dotted #0A0A0A;
  opacity: 0.2;
}
.tab-dog section.product .remote li.active a {
  color: #f4e700;
}
.tab-dog section.product .remote li.active a::after {
  background-color: #f4e700;
  opacity: 1;
  visibility: visible;
}
.tab-dog section.product .remote li:hover:not(.tab-dog section.product .remote li.active) a::after {
  background-color: #0A0A0A;
  opacity: 1;
  visibility: visible;
}
.tab-dog section.product .remote a {
  display: block;
  position: relative;
  font-weight: 700;
  transition: opacity 0.5s;
}
.tab-dog section.product .remote a::after {
  content: "";
  position: absolute;
  top: -70%;
  left: calc(max(5.28px, 0.5208333333vw) * -1);
  width: max(5.28px, 0.5208333333vw);
  height: max(5.28px, 0.5208333333vw);
  border-radius: max(2.64px, 0.2604166667vw);
  background-color: #0A0A0A;
  transition: inherit;
  opacity: 0;
  visibility: hidden;
}
.tab-dog section.product .content_wrapper {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.tab-dog section.product .content {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tab-dog section.product .content.active {
  top: 0;
  z-index: 1;
}
.tab-dog section.product .content > * {
  width: 33.333%;
  height: 100%;
}
.tab-dog section.product .content .info {
  padding-left: 12px;
}
.tab-dog section.product .content .info h4 {
  margin-bottom: max(15.84px, 1.5625vw);
  font-size: max(47.52px, 4.6875vw);
  font-weight: 100;
  line-height: 1.2;
}
.tab-dog section.product .content .object {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.tab-dog section.product .content .object img {
  width: max(195.36px, 19.2708333333vw);
  height: auto;
}
.tab-dog section.product .content .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tab-dog section.product .content .desc ul {
  width: 70%;
}
.tab-dog section.product .content .desc ul li {
  position: relative;
  margin-bottom: max(7.92px, 0.78125vw);
  padding-left: max(7.92px, 0.78125vw);
  font-size: max(7.92px, 0.78125vw);
  font-weight: 300;
  line-height: 1.2;
}
.tab-dog section.product .content .desc ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: max(3.3px, 0.3255208333vw);
  width: max(2.64px, 0.2604166667vw);
  height: max(2.64px, 0.2604166667vw);
  background-color: #0A0A0A;
  border-radius: max(1.32px, 0.1302083333vw);
  opacity: 0.2;
}
.tab-dog section.product .content .desc dl {
  width: 70%;
}
.tab-dog section.product .content .desc dl dt {
  margin-bottom: max(15.84px, 1.5625vw);
  font-size: max(9.24px, 0.9114583333vw);
  font-weight: 500;
}
.tab-dog section.product .content .desc dl dd img {
  width: max(31.68px, 3.125vw);
  height: auto;
}
.tab-dog section.product .content .desc dl dd p {
  margin-top: max(5.28px, 0.5208333333vw);
  margin-bottom: max(7.92px, 0.78125vw);
  font-size: max(7.92px, 0.78125vw);
  font-weight: 300;
  line-height: 1.2;
}
.tab-dog section.product .content .desc dl dd span {
  width: 100%;
}
.tab-dog section.product .content .desc > p {
  width: 70%;
  margin-bottom: max(7.92px, 0.78125vw);
  font-size: max(7.92px, 0.78125vw);
  font-weight: 300;
  line-height: 1.2;
}
.tab-dog section.product .content .desc span {
  display: block;
  width: 70%;
  margin-bottom: max(2.64px, 0.2604166667vw);
  font-size: max(6.6px, 0.6510416667vw);
  line-height: 1.2;
  color: #CD1818;
}
.tab-dog section.product .content .desc span:last-child {
  margin-bottom: 0;
}

@keyframes rotateToRight {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotateToLeft {
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
.folding .tabs {
  position: fixed;
  top: 0;
  left: max(26.4px, 2.6041666667vw);
  z-index: 1;
  width: max(84.48px, 8.3333333333vw);
  padding: max(5.28px, 0.5208333333vw) max(7.92px, 0.78125vw);
  background-color: #CD1818;
}
.folding .tabs li {
  position: relative;
  min-width: max(31.68px, 3.125vw);
  margin-bottom: max(5.28px, 0.5208333333vw);
}
.folding .tabs li::before {
  display: none;
  content: "";
  position: absolute;
  right: calc(max(10.56px, 1.0416666667vw) * -1);
  top: 50%;
  transform: translateY(-50%);
  width: max(7.92px, 0.78125vw);
  height: max(7.92px, 0.78125vw);
  border-radius: 50%;
  background-color: #000000;
}
.folding .tabs li:last-child {
  margin-bottom: 0;
}
.folding .tabs li:not(.active):hover a {
  opacity: 0.5;
}
.folding .tabs li.active::before {
  display: block;
}
.folding .tabs li.active a {
  opacity: 1;
  color: #0A0A0A;
}
.folding .tabs a {
  font-size: max(10.56px, 1.0416666667vw);
  font-weight: 700;
  color: #FAFAFA;
  opacity: 0.25;
}
.folding .screen {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
}
.folding .fold-size-fix {
  height: 100%;
}

.folding-type-01 #base-content {
  display: none;
}
.folding-type-01 .wrapper-3d {
  position: relative;
  perspective: max(165px, 16.2760416667vw);
  transform-style: preserve-3d;
}
.folding-type-01 .fold {
  overflow: hidden;
  width: 100vw;
  height: 90vh;
  will-change: transform;
}
.folding-type-01 .fold-size-fix {
  transform-origin: center center;
  width: 100%;
}
.folding-type-01 .fold-scroller {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.folding-type-01 .fold-content {
  pointer-events: all;
  width: 100%;
}
.folding-type-01 .fold-before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: bottom center;
  transform: translateZ(0px) translate3d(0, -90vh, 0) rotateX(-120deg) scale3d(1, 1.002004008, 1);
}
.folding-type-01 .fold-before .fold-size-fix {
  transform-origin: bottom center;
}
.folding-type-01 .fold-before .fold-scroller {
  transform: translateY(100%);
}
.folding-type-01 .fold-center {
  transform-origin: center center;
  transform: translateZ(0px) translate3d(0, 0, 0) rotateX(0) scale3d(1, 1.002004008, 1);
}
.folding-type-01 .fold-after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: top center;
  transform: translateZ(0px) translate3d(0, 90vh, 0) rotateX(120deg) scale3d(1, 1.002004008, 1);
}
.folding-type-01 .fold-after .fold-size-fix {
  transform-origin: top center;
}
.folding-type-01 .fold-after .fold-scroller {
  transform: translateY(-100%);
}
.folding-type-01 .text-item {
  backface-visibility: hidden;
}
.folding-type-01 .text-item p {
  font-size: max(63.36px, 6.25vw);
  font-weight: 900;
}

.folding-type-02 {
  position: relative;
}
.folding-type-02 .cursor_area {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  width: 100%;
  height: 70vh;
  cursor: grab;
}
.folding-type-02 #base-content-horizontal {
  display: none;
}
.folding-type-02 .wrapper-3d {
  position: absolute;
  right: 0;
  perspective: 50vw;
  transform-style: preserve-3d;
}
.folding-type-02 .fold {
  overflow: hidden;
  width: calc(40vw + 1px);
  height: 70vh;
  will-change: transform;
  background-color: #000000;
}
.folding-type-02 .fold-content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: min-content;
  height: 100%;
  pointer-events: all;
}
.folding-type-02 .fold-content img {
  flex: none;
  display: block;
  height: 100%;
  pointer-events: none;
}
.folding-type-02 .fold-size-fix {
  transform-origin: center center;
  width: calc(100% + 1px);
}
.folding-type-02 .fold-scroller {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.folding-type-02 .fold-before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: right center;
  transform: translate3d(-100%, 0, 0) rotateY(-10deg);
}
.folding-type-02 .fold-before .fold-size-fix {
  transform-origin: bottom center;
}
.folding-type-02 .fold-before-1 {
  transform: translate3d(-100%, 0, 0) rotateY(-35deg);
}
.folding-type-02 .fold-before-1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.08);
  pointer-events: none;
}
.folding-type-02 .fold-before-2 {
  transform: translate3d(-100%, 0, 0) rotateY(-35deg) translate3d(-100%, 0, 0) rotateY(35deg);
}
.folding-type-02 .fold-before-3 {
  transform: translate3d(-100%, 0, 0) rotateY(-35deg) translate3d(-100%, 0, 0) rotateY(35deg) translate3d(-100%, 0, 0) rotateY(110deg);
}
.folding-type-02 .fold-main .fold-scroller {
  transform: translateX(-200%);
}
.folding-type-02 .fold-before-1 .fold-scroller {
  transform: translateX(-100%);
}
.folding-type-02 .fold-before-2 .fold-scroller {
  transform: translateX(0%);
}
.folding-type-02 .fold-before-3 .fold-scroller {
  transform: translateX(100%);
}

#folding-effect-index {
  overflow-x: hidden;
}
#folding-effect-index #originContentPlot,
#folding-effect-index #originContentCharacter {
  display: none;
}
#folding-effect-index .sec1 {
  overflow: hidden;
  height: 100vh;
  padding: 0 12px;
}
#folding-effect-index .sec1.intro span {
  font-size: max(81.84px, 8.0729166667vw);
  font-weight: 100;
}
#folding-effect-index .sec1.intro h3 {
  font-size: max(163.68px, 16.1458333333vw);
  font-weight: 900;
}
#folding-effect-index .sec1.intro p {
  font-size: max(31.68px, 3.125vw);
  font-weight: 500;
  opacity: 0.1;
}
#folding-effect-index .sec2 .sticky {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
#folding-effect-index .sec2 .sticky.fixed {
  position: fixed;
}
#folding-effect-index .sec2 .content_plot {
  padding: 12px;
}
#folding-effect-index .sec2 .content_plot b {
  display: block;
  margin-bottom: max(31.68px, 3.125vw);
  font-size: max(84.48px, 8.3333333333vw);
  font-weight: 700;
  line-height: 1.25;
  opacity: 0.8;
}
#folding-effect-index .sec2 .content_plot p {
  font-size: max(31.68px, 3.125vw);
  font-weight: 500;
  line-height: 1.25;
  opacity: 0.6;
}
#folding-effect-index .sec2 .display_plot {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  pointer-events: none;
}
#folding-effect-index .sec2 .display_plot .inner {
  position: relative;
  perspective: max(165px, 16.2760416667vw);
  transform-style: preserve-3d;
}
#folding-effect-index .sec2 .display_plot .plot {
  overflow: hidden;
  width: 100vw;
  height: 90vh;
  will-change: transform;
}
#folding-effect-index .sec2 .display_plot .fold-size-fix {
  transform-origin: center center;
  width: 100%;
  height: 100%;
}
#folding-effect-index .sec2 .display_plot .fold-scroller {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
#folding-effect-index .sec2 .display_plot .content_plot {
  pointer-events: all;
  width: 100%;
}
#folding-effect-index .sec2 .display_plot .plot_top {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: bottom center;
  transform: translateZ(0px) translate3d(0, -90vh, 0) rotateX(-120deg) scale3d(1, 1.002004008, 1);
}
#folding-effect-index .sec2 .display_plot .plot_top .fold-size-fix {
  transform-origin: bottom center;
}
#folding-effect-index .sec2 .display_plot .plot_top .fold-scroller {
  transform: translateY(100%);
}
#folding-effect-index .sec2 .display_plot .plot_center {
  transform-origin: center center;
  transform: translateZ(0px) translate3d(0, 0, 0) rotateX(0) scale3d(1, 1.002004008, 1);
}
#folding-effect-index .sec2 .display_plot .plot_bottom {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: top center;
  transform: translateZ(0px) translate3d(0, 90vh, 0) rotateX(120deg) scale3d(1, 1.002004008, 1);
}
#folding-effect-index .sec2 .display_plot .plot_bottom .fold-size-fix {
  transform-origin: top center;
}
#folding-effect-index .sec2 .display_plot .plot_bottom .fold-scroller {
  transform: translateY(-100%);
}
#folding-effect-index .sec3 {
  overflow: hidden;
  position: relative;
  height: 100vh;
}
#folding-effect-index .sec3 > .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}
#folding-effect-index .sec3 > .inner .circle {
  position: absolute;
  bottom: -200%;
  left: 50%;
  transform: translateX(-50%);
  width: 125vw;
  height: 100vw;
  border-radius: 50%;
  background-color: #EFEFEF;
}
#folding-effect-index .sec3 .title_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 100%;
  height: 100%;
}
#folding-effect-index .sec3 .title_wrap i {
  font-size: max(10.56px, 1.0416666667vw);
  color: #FAFAFA;
}
#folding-effect-index .sec3 .title_wrap a {
  position: relative;
  animation: upAndDown 0.8s linear infinite alternate;
  font-size: max(10.56px, 1.0416666667vw);
  font-weight: 800;
  letter-spacing: max(10.56px, 1.0416666667vw);
  opacity: 0.2;
}
#folding-effect-index .sec3 .title_wrap a.hidden {
  opacity: 0;
  visibility: hidden;
}
#folding-effect-index .sec3 .drag_character {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 70vh;
  cursor: grab;
  opacity: 0;
  visibility: hidden;
}
#folding-effect-index .sec3 .content_character {
  display: flex;
  align-items: flex-end;
  width: min-content;
  height: 100%;
  pointer-events: all;
}
#folding-effect-index .sec3 .content_character ul {
  display: flex;
  align-items: center;
  gap: max(63.36px, 6.25vw);
  height: 100%;
}
#folding-effect-index .sec3 .content_character li {
  overflow: hidden;
  position: relative;
  width: max(163.68px, 16.1458333333vw);
  height: max(163.68px, 16.1458333333vw);
  border-radius: 50%;
}
#folding-effect-index .sec3 .content_character li .pic_head {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#folding-effect-index .sec3 .content_character li .pic_head img {
  display: block;
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  height: 100%;
}
#folding-effect-index .sec3 .content_character li span {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  text-align: center;
  font-size: max(13.2px, 1.3020833333vw);
  font-weight: 700;
  color: #FAFAFA;
}
#folding-effect-index .sec3 .display_character {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  background-color: #EFEFEF;
  opacity: 0;
  visibility: hidden;
}
#folding-effect-index .sec3 .display_character .inner {
  position: absolute;
  right: 0;
  perspective: 50vw;
  transform-style: preserve-3d;
}
#folding-effect-index .sec3 .display_character .character {
  overflow: hidden;
  width: calc(40vw + 1px);
  height: 70vh;
  will-change: transform;
  background-color: #0A0A0A;
}
#folding-effect-index .sec3 .display_character .content_character {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: min-content;
  height: 100%;
  pointer-events: all;
}
#folding-effect-index .sec3 .display_character .fold-size-fix {
  width: calc(100% + 1px);
  height: 100%;
  transform-origin: center center;
}
#folding-effect-index .sec3 .display_character .fold-scroller {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
#folding-effect-index .sec3 .display_character .character_before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: right center;
  transform: translate3d(-100%, 0, 0) rotateY(-10deg);
}
#folding-effect-index .sec3 .display_character .character_before .fold-size-fix {
  transform-origin: bottom center;
}
#folding-effect-index .sec3 .display_character .character_before_1 {
  transform: translate3d(-100%, 0, 0) rotateY(-35deg);
}
#folding-effect-index .sec3 .display_character .character_before_1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
#folding-effect-index .sec3 .display_character .character_before_2 {
  transform: translate3d(-100%, 0, 0) rotateY(-35deg) translate3d(-100%, 0, 0) rotateY(35deg);
}
#folding-effect-index .sec3 .display_character .character_before_3 {
  transform: translate3d(-100%, 0, 0) rotateY(-35deg) translate3d(-100%, 0, 0) rotateY(35deg) translate3d(-100%, 0, 0) rotateY(110deg);
}
#folding-effect-index .sec3 .display_character .character_before_3::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
#folding-effect-index .sec3 .display_character .character_main .fold-scroller {
  transform: translateX(-200%);
}
#folding-effect-index .sec3 .display_character .character_before_1 .fold-scroller {
  transform: translateX(-100%);
}
#folding-effect-index .sec3 .display_character .character_before_2 .fold-scroller {
  transform: translateX(0%);
}
#folding-effect-index .sec3 .display_character .character_before_3 .fold-scroller {
  transform: translateX(100%);
}

@keyframes upAndDown {
  0% {
    transform: translateY(4px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(4px);
  }
}
