/* Font CDN */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=red-hat-display@300,400,500,600,700,800,900&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=array@401,400,600,601,700,701&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Swiper CSS */
@import url("https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

/* swiper Reset */
.swiper-pagination-bullet {
  width: auto;
  height: auto;
  margin: 0 !important;
  border-radius: 0;
  background-color: transparent;
}

.swiper-pagination-bullet-active {
  background-color: transparent;
}

/* PIXEL TO VW */
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
  color: #0A0A0A;
}

body {
  background-color: #FAFAFA;
}

/* Layout */
.rolling_banner {
  overflow-x: hidden;
  position: absolute;
  left: 0;
  bottom: max(13.2px, 1.3020833333vw);
  display: flex;
  width: 100%;
}
.rolling_banner .original {
  animation: infiniteRolling01 100s linear infinite;
}
.rolling_banner .cloned {
  animation: infiniteRolling02 100s linear infinite;
}

@keyframes infiniteRolling01 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  50.01% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes infiniteRolling02 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}
.knitting_wrap {
  display: flex;
}

.knitting {
  width: fit-content;
  border: 4px solid #0A0A0A;
  border-right: 2px solid #0A0A0A;
}
.knitting:last-child {
  border-right: max(2.64px, 0.2604166667vw) solid #0A0A0A;
}
.knitting .row {
  display: flex;
}
.knitting .row.whole_white > div {
  background: #FAFAFA;
  border: 0.5px solid #0A0A0A;
}
.knitting .row.whole_black > div {
  background: #0A0A0A;
  border: 0.5px solid #FAFAFA;
}
.knitting .row > div {
  width: 2px;
  height: 2px;
  border: 0.5px solid #0A0A0A;
}
.knitting .row > div.white {
  background-color: #FAFAFA;
  border: 0.5px solid #0A0A0A;
}
.knitting .row > div.black {
  background-color: #0A0A0A;
  border: 0.5px solid #FAFAFA;
}

.folding-type-01 .tabs {
  position: fixed;
  top: 0;
  right: max(26.4px, 2.6041666667vw);
  z-index: 1;
  width: max(84.48px, 8.3333333333vw);
  padding: max(5.28px, 0.5208333333vw) max(7.92px, 0.78125vw);
  background-color: #CD1818;
}
.folding-type-01 .tabs li {
  position: relative;
  min-width: max(31.68px, 3.125vw);
  margin-bottom: max(5.28px, 0.5208333333vw);
}
.folding-type-01 .tabs li::before {
  display: none;
  content: "";
  position: absolute;
  right: calc(max(10.56px, 1.0416666667vw) * -1);
  top: 50%;
  transform: translateY(-50%);
  width: max(7.92px, 0.78125vw);
  height: max(7.92px, 0.78125vw);
  border-radius: 50%;
  background-color: #0A0A0A;
}
.folding-type-01 .tabs li:last-child {
  margin-bottom: 0;
}
.folding-type-01 .tabs li:not(.active):hover a {
  opacity: 0.5;
}
.folding-type-01 .tabs li.active::before {
  display: block;
}
.folding-type-01 .tabs li.active a {
  opacity: 1;
  color: #0A0A0A;
}
.folding-type-01 .tabs a {
  font-size: max(10.56px, 1.0416666667vw);
  font-weight: 700;
  color: #FAFAFA;
  opacity: 0.25;
}
.folding-type-01 #base-content {
  display: none;
}
.folding-type-01 .screen {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  pointer-events: none;
}
.folding-type-01 .wrapper-3d {
  position: relative;
  perspective: max(165px, 16.2760416667vw);
  transform-style: preserve-3d;
}
.folding-type-01 .fold {
  overflow: hidden;
  width: 100vw;
  height: 90vh;
  will-change: transform;
}
.folding-type-01 .fold-size-fix {
  transform-origin: center center;
  width: 100%;
  height: 100%;
}
.folding-type-01 .fold-scroller {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.folding-type-01 .fold-content {
  pointer-events: all;
  width: 100%;
}
.folding-type-01 .fold-before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: bottom center;
  transform: translateZ(0px) translate3d(0, -90vh, 0) rotateX(-120deg) scale3d(1, 1.002004008, 1);
}
.folding-type-01 .fold-before .fold-size-fix {
  transform-origin: bottom center;
}
.folding-type-01 .fold-before .fold-scroller {
  transform: translateY(100%);
}
.folding-type-01 .fold-center {
  transform-origin: center center;
  transform: translateZ(0px) translate3d(0, 0, 0) rotateX(0) scale3d(1, 1.002004008, 1);
}
.folding-type-01 .fold-after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: top center;
  transform: translateZ(0px) translate3d(0, 90vh, 0) rotateX(120deg) scale3d(1, 1.002004008, 1);
}
.folding-type-01 .fold-after .fold-size-fix {
  transform-origin: top center;
}
.folding-type-01 .fold-after .fold-scroller {
  transform: translateY(-100%);
}
.folding-type-01 .text-item {
  backface-visibility: hidden;
}
.folding-type-01 .text-item p {
  font-size: max(63.36px, 6.25vw);
  font-weight: 900;
}
