.folding {
    .tabs {
        position: fixed;
        top: 0;
        left: to_vw(40);
        z-index: 1;
        width: to_vw(128);
        padding: to_vw(8) to_vw(12);
        background-color: $redColor;

        li {
            position: relative;
            min-width: to_vw(48);
            margin-bottom: to_vw(8);

            &::before {
                display: none;
                content: '';
                position: absolute;
                right: to_vw(-16);
                top: 50%;
                transform: translateY(-50%);
                width: to_vw(12);
                height: to_vw(12);
                border-radius: 50%;
                background-color: #000000;
            }

            &:last-child {
                margin-bottom: 0;
            }

            &:not(.active):hover {
                a {
                    opacity: 0.5;
                }
            }

            &.active {
                &::before {
                    display: block;
                }

                a {
                    opacity: 1;
                    color: $textColor;
                }
            }
        }

        a {
            font-size: to_vw(16);
            font-weight: 700;
            color: $gray;
            opacity: 0.25;
        }
    }

    .screen {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        pointer-events: none;
    }

    .fold-size-fix {
        height: 100%;
    }
}

.folding-type-01 {
    #base-content {
        display: none;
    }

    .wrapper-3d {
        position: relative;
        perspective: to-vw(250);
        transform-style: preserve-3d;
    }

    .fold {
        overflow: hidden;
        width: 100vw;
        height: 90vh;
        will-change: transform;
    }

    .fold-size-fix {
        transform-origin: center center;
        width: 100%;
    }

    .fold-scroller {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .fold-content {
        pointer-events: all;
        width: 100%;
    }

    .fold-before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform-origin: bottom center;
        transform: translateZ(0px) translate3d(0, -90vh, 0) rotateX(-120deg) scale3d(1, 1.002004008016032, 1);

        .fold-size-fix {
            transform-origin: bottom center;
        }

        .fold-scroller {
            transform: translateY(100%);
        }
    }

    .fold-center {
        transform-origin: center center;
        transform: translateZ(0px) translate3d(0, 0, 0) rotateX(0) scale3d(1, 1.002004008016032, 1);
    }

    .fold-after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform-origin: top center;
        transform: translateZ(0px) translate3d(0, 90vh, 0) rotateX(120deg) scale3d(1, 1.002004008016032, 1);

        .fold-size-fix {
            transform-origin: top center;
        }

        .fold-scroller {
            transform: translateY(-100%);
        }
    }

    .text-item {
        backface-visibility: hidden;

        p {
            font-size: to-vw(96);
            font-weight: 900;
        }
    }
}

.folding-type-02 {
    position: relative;

    .cursor_area {
        position: fixed;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1000;
        width: 100%;
        height: 70vh;
        cursor: grab;
    }

    #base-content-horizontal {
        display: none;
    }

    .wrapper-3d {
        position: absolute;
        right: 0;
        perspective: 50vw;
        transform-style: preserve-3d;
    }

    .fold {
        overflow: hidden;
        width: calc(40vw + 1px);
        height: 70vh;
        will-change: transform;
        background-color:#000000;
    }

    .fold-content {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        width: min-content;
        height: 100%;
        pointer-events: all;

        img {
            flex: none;
            display: block;
            height: 100%;
            pointer-events: none;
        }
    }

    .fold-size-fix {
        transform-origin: center center;
        width: calc(100% + 1px);
    }

    .fold-scroller {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .fold-before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform-origin: right center;
        transform: translate3d(-100%, 0, 0) rotateY(-10deg);

        .fold-size-fix {
            transform-origin: bottom center;
        }
    }

    .fold-before-1 {
        transform: translate3d(-100%, 0, 0) rotateY(-35deg);

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: 100;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.08);
            pointer-events: none;
        }
    }

    .fold-before-2 {
        transform: translate3d(-100%, 0, 0) rotateY(-35deg) translate3d(-100%, 0, 0) rotateY(35deg);
    }

    .fold-before-3 {
        transform: translate3d(-100%, 0, 0) rotateY(-35deg) translate3d(-100%, 0, 0) rotateY(35deg) translate3d(-100%, 0, 0) rotateY(110deg);
    }

    .fold-main .fold-scroller {
        transform: translateX(-200%);
    }

    .fold-before-1 .fold-scroller {
        transform: translateX(-100%);
    }

    .fold-before-2 .fold-scroller {
        transform: translateX(0%);
    }

    .fold-before-3 .fold-scroller {
        transform: translateX(100%);
    }
}

#folding-effect-index {
    overflow-x: hidden;

    #originContentPlot,
    #originContentCharacter {
        display: none;
    }

    .sec {
        &1 {
            overflow: hidden;
            height: 100vh;
            padding: 0 $horizontal-padding;

            &.intro {
                span {
                    font-size: to_vw(124);
                    font-weight: 100;
                }

                h3 {
                    font-size: to_vw(248);
                    font-weight: 900;
                }

                p {
                    font-size: to_vw(48);
                    font-weight: 500;
                    opacity: 0.1;
                }
            }
        }

        &2 {
            .sticky {
                top: 0;
                left: 0;
                width: 100%;
                height: 100vh;

                &.fixed {
                    position: fixed;
                }
            }

            .content_plot {
                padding: $horizontal-padding;

                b {
                    display: block;
                    margin-bottom: to_vw(48);
                    font-size: to_vw(128);
                    font-weight: 700;
                    line-height: 1.25;
                    opacity: 0.8;
                }

                p {
                    font-size: to_vw(48);
                    font-weight: 500;
                    line-height: 1.25;
                    opacity: 0.6;
                }
            }

            .display_plot {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100vh;
                pointer-events: none;

                .inner {
                    position: relative;
                    perspective: to-vw(250);
                    transform-style: preserve-3d;
                }

                .plot {
                    overflow: hidden;
                    width: 100vw;
                    height: 90vh;
                    will-change: transform;
                }

                .fold-size-fix {
                    transform-origin: center center;
                    width: 100%;
                    height: 100%;
                }

                .fold-scroller {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: 100%;
                }

                .content_plot {
                    pointer-events: all;
                    width: 100%;
                }

                .plot_top {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    transform-origin: bottom center;
                    transform: translateZ(0px) translate3d(0, -90vh, 0) rotateX(-120deg) scale3d(1, 1.002004008016032, 1);

                    .fold-size-fix {
                        transform-origin: bottom center;
                    }

                    .fold-scroller {
                        transform: translateY(100%);
                    }
                }

                .plot_center {
                    transform-origin: center center;
                    transform: translateZ(0px) translate3d(0, 0, 0) rotateX(0) scale3d(1, 1.002004008016032, 1);
                }

                .plot_bottom {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    transform-origin: top center;
                    transform: translateZ(0px) translate3d(0, 90vh, 0) rotateX(120deg) scale3d(1, 1.002004008016032, 1);

                    .fold-size-fix {
                        transform-origin: top center;
                    }

                    .fold-scroller {
                        transform: translateY(-100%);
                    }
                }
            }
        }

        &3 {
            overflow: hidden;
            position: relative;
            height: 100vh;

            .inner {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                width: 100%;
                height: 100%;

                .circle {
                    position: absolute;
                    bottom: -200%;
                    left: 0;
                    transform: scale(0.5);
                    width: 100vw;
                    height: 100vw;
                    border-radius: 50%;
                    background-color: #EFEFEF;
                }
            }

            .title_wrap {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 1;
                width: 100%;
                height: 100%;

                i {
                    font-size: to_vw(16);
                    color: $gray;
                }

                a {
                    position: relative;
                    animation: upAndDown 0.8s linear infinite alternate;
                    font-size: to_vw(16);
                    font-weight: 800;
                    letter-spacing: to_vw(16);
                    opacity: 0.2;

                    &.hidden {
                        opacity: 0;
                        visibility: hidden;
                    }
                }
            }

            .content_character {
                display: flex;
                align-items: flex-end;
                width: min-content;
                height: 100%;
                pointer-events: all;

                ul {
                    display: flex;
                    gap: to_vw(96);
                }

                li {
                    overflow: hidden;
                    position: relative;
                    width: to_vw(248);
                    height: to_vw(248);
                    border-radius: 50%;

                    &:hover {
                        a {
                            &::before {
                                width: 100%;
                                height: 100%;
                                opacity: 0.4;
                                visibility: visible;
                                transform: translate(-50%, -50%) scale(2);
                            }
                        }

                        span {
                            opacity: 1;
                            visibility: visible;
                        }
                    }

                    a {
                        display: block;
                        position: relative;
                        z-index: 3;
                        width: 100%;
                        height: 100%;
                        border-radius: inherit;
                        pointer-events: all;

                        &::before {
                            content: '';
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            z-index: 1;
                            width: 0;
                            height: 0;
                            background-color: $mainColor;
                            border-radius: inherit;
                            opacity: 0;
                            visibility: hidden;
                            transition: $transitionSpeed;
                        }
                    }

                    .pic_head {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;

                        img {
                            display: block;
                            object-fit: cover;
                            object-position: 50% 50%;
                            width: 100%;
                            height: 100%;
                        }
                    }

                    span {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        z-index: 1;
                        font-size: to_vw(20);
                        font-weight: 700;
                        color: $gray;
                        opacity: 0;
                        visibility: hidden;
                        transition-delay: $transitionSpeed;
                        transition: opacity $transitionSpeed;
                    }
                }
            }
        }
    }
}

@keyframes upAndDown {
    0% {
        transform : translateY(4px);
    }

    50% {
        transform : translateY(0);
    }

    100% {
        transform : translateY(4px);
    }
}