
.folding {
    .tabs {
        position: fixed;
        top: 0;
        right: to_vw(40);
        z-index: 1;
        width: to_vw(128);
        padding: to_vw(8) to_vw(12);
        background-color: $redColor;

        li {
            position: relative;
            min-width: to_vw(48);
            margin-bottom: to_vw(8);

            &::before {
                display: none;
                content: '';
                position: absolute;
                right: to_vw(-16);
                top: 50%;
                transform: translateY(-50%);
                width: to_vw(12);
                height: to_vw(12);
                border-radius: 50%;
                background-color: $textColor;
            }

            &:last-child {
                margin-bottom: 0;
            }

            &:not(.active):hover {
                a {
                    opacity: 0.5;
                }
            }

            &.active {
                &::before {
                    display: block;
                }

                a {
                    opacity: 1;
                    color: $textColor;
                }
            }
        }

        a {
            font-size: to_vw(16);
            font-weight: 700;
            color: $gray;
            opacity: 0.25;
        }
    }
}

.folding-type-01 {
    #base-content {
        display: none;
    }

    .screen {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        pointer-events: none;
    }

    .wrapper-3d {
        position: relative;
        perspective: to-vw(250);
        transform-style: preserve-3d;
    }

    .fold {
        overflow: hidden;
        width: 100vw;
        height: 90vh;
        will-change: transform;
    }

    .fold-size-fix {
        transform-origin: center center;
        width: 100%;
        height: 100%;
    }

    .fold-scroller {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .fold-content {
        pointer-events: all;
        width: 100%;
    }

    .fold-before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform-origin: bottom center;
        transform: translateZ(0px) translate3d(0, -90vh, 0) rotateX(-120deg) scale3d(1, 1.002004008016032, 1);

        .fold-size-fix {
            transform-origin: bottom center;
        }

        .fold-scroller {
            transform: translateY(100%);
        }
    }

    .fold-center {
        transform-origin: center center;
        transform: translateZ(0px) translate3d(0, 0, 0) rotateX(0) scale3d(1, 1.002004008016032, 1);
    }

    .fold-after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform-origin: top center;
        transform: translateZ(0px) translate3d(0, 90vh, 0) rotateX(120deg) scale3d(1, 1.002004008016032, 1);

        .fold-size-fix {
            transform-origin: top center;
        }

        .fold-scroller {
            transform: translateY(-100%);
        }
    }

    .text-item {
        backface-visibility: hidden;

        p {
            font-size: to-vw(96);
            font-weight: 900;
        }
    }
}

.folding-type-02 {
    #base-content {
        display: none;
    }

    .wrapper-3d {
        position: absolute;
        right: 0;
        perspective: 50vw;
        transform-style: preserve-3d;
    }

    .fold {
        overflow: hidden;
        width: calc(40vw + 1px);
        height: 70vh;
        will-change: transform;
    }

    .fold-content {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        width: min-content;
        height: 100%;

        img {
            flex: none;
            display: block;
            height: 100%;
            pointer-events: none;
        }
    }

    .fold-scroller {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .fold-before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform-origin: right center;
        transform: translate3d(-100%, 0, 0) rotateY(-10deg);
    }

    .fold-before-1 {
        transform: translate3d(-100%, 0, 0) rotateY(-35deg);

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: 100;
            background: rgba(0, 0, 0, 0.08);
            width: 100%;
            height: 100%;
            pointer-events: none;
        }
    }

    .fold-before-2 {
        transform: translate3d(-100%, 0, 0) rotateY(-35deg) translate3d(-100%, 0, 0) rotateY(35deg);
    }

    .fold-before-3 {
        transform: translate3d(-100%, 0, 0) rotateY(-35deg) translate3d(-100%, 0, 0) rotateY(35deg) translate3d(-100%, 0, 0) rotateY(110deg);
    }

    .fold-main .fold-scroller {
        transform: translateX(-200%);
    }

    .fold-before-1 .fold-scroller {
        transform: translateX(-100%);
    }

    .fold-before-2 .fold-scroller {
        transform: translateX(0%);
    }

    .fold-before-3 .fold-scroller {
        transform: translateX(100%);
    }

    .fold-before-4 .fold-scroller {
        transform: translateX(400%);
    }

    .content {

    }
}