<!-- banner -->
<div class="knitting_wrap">
    <div class="knitting">
        <div class="row_wrap">
            <div class="row whole_white">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="row whole_black">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="row whole_black">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div class="white"></div>
                <div class="white"></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div class="white"></div>
                <div class="white"></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="row whole_black">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="row whole_black">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="row whole_black">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div class="white"></div>
                <div class="white"></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div class="white"></div>
                <div class="white"></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="row whole_black">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div></div>
                <div></div>
                <div></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div></div>
                <div></div>
                <div></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="row whole_black">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="row whole_black">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div></div>
                <div class="white"></div>
                <div class="white"></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div></div>
                <div class="white"></div>
                <div class="white"></div>
                <div></div>
                <div></div>
            </div>
            <div class="row whole_black">
                <div></div>
                <div></div>
                <div></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div></div>
                <div></div>
            </div>
            <div class="row whole_black">
                <div></div>
                <div></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="row whole_black">
                <div></div>
                <div></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div></div>
                <div></div>
                <div></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div></div>
                <div></div>
                <div></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div></div>
                <div></div>
                <div></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div></div>
                <div></div>
            </div>
            <div class="row whole_black">
                <div></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div class="white"></div>
                <div></div>
            </div>
            <div class="row whole_black">
                <div></div>
                <div class="white"></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div class="white"></div>
                <div class="white"></div>
                <div></div>
                <div></div>
                <div class="white"></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div class="white"></div>
                <div class="white"></div>
                <div></div>
                <div></div>
            </div>
            <div class="row whole_black">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="row whole_white">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</div>
<!-- // banner -->